html, body, textarea {
    box-sizing: border-box;
}

img.portrait {
    z-index: 2;
}

.portrait {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.userchat {
    align-self: end;
    border-radius: 1rem 1rem 0 1rem;
    background-color: rgba(44, 101, 101, 0.76);
}

.systemchat {

}

form#prompt textarea {
    background-color: #22222288;
    color: #a9a9a9;
    width: 100%;
    height: 4rem;
    padding: 10px;
    border: none;
    outline: none;
}

form#prompt textarea:focus {
    background-color: #00000066;
    color: white;
}
