:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(244, 223, 223, 0.87);
    background-color: black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #c333e3;
    text-decoration: inherit;
}

a:hover {
    color: #4d2ee2;
}

i {
    opacity: 0.4;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    min-width: 320px;
    min-height: 100vh;
}

/* use https://gwfh.mranftl.com/fonts to slurp google woff2 files for offline use */

/* cinzel-regular - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    /*noinspection CssUnknownTarget*/
    src: url('/fonts/cinzel-v23-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cinzel-regular - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    /*noinspection CssUnknownTarget*/
    src: url('../fonts/cinzel-v23-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* cinzel-500 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 500;
    /*noinspection CssUnknownTarget*/
    src: url('../fonts/cinzel-v23-latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* princess-sofia-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Princess Sofia';
    font-style: normal;
    font-weight: 400;
    /*noinspection CssUnknownTarget*/
    src: url('/fonts/princess-sofia-v25-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

